<!-- Cars Section -->
<div class="max-w-[85rem] px-4 py-20 sm:px-6 lg:px-8 lg:py-20 mx-auto">
  <!-- Section Title -->
  <div class="max-w-[85rem] px-2 py-10 sm:px-6 sm:py-15 lg:max-w-7xl lg:px-2">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Our latest cars on sale</h2>
  </div>
  <!-- End Section Title -->
  <!-- Grid -->
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <!-- Card -->
    {% for car in cars %}
    <a href={{ path('app_cars_slug', {'slug': car.slug})}}>
    <div class="group group-hover:opacity-75 flex flex-col h-full bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
        <div class="h-52 flex flex-col justify-center items-center bg-gray-200 rounded-t-xl">
          <img src={{ car.image }} alt="Image of the car" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
        </div>
        <div class="p-4 md:p-6">
          <span class="block mb-1 text-s font-semibold uppercase text-blue-600 dark:text-blue-500">
            {{ car.price }} €
          </span>
          <h3 class="text-l font-semibold text-gray-800 dark:text-gray-300 dark:hover:text-white">
            {{ car.title }}
          </h3>
          <p class="text-s mt-3 text-gray-500">
            {{ car.description }}
          </p>
        </div>
        <div class="mt-auto flex border-t border-gray-200 divide-x divide-gray-200 dark:border-gray-700 dark:divide-gray-700">
          <p class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium">
            {{ car.kilometers }} km
          </p>
          <p class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium">
            {{ car.year }}
          </p>
        </div>
    </div>
    {% endfor %}
    </a>
    <!-- End Card -->
    <!-- Section Title -->
    <div class="max-w-[85rem] ">
      <a href="{{ path('app_cars' )}}">
        <h2 class="text-2xl font-bold tracking-tight text-gray-500 hover:text-gray-600 hover:underline">→ See more cars </h2>
      </a>
    </div>
  <!-- End Section Title -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Card Blog -->